@page "/"

<h1>Hello Gary!</h1>

<br />
Welcome to my web app.



<p><img class="resize" src=https://icon-library.com/images/weather-icon-gif/weather-icon-gif-13.jpg style="width:400px; height:400px;"></p>

<h3>Please the select World Weather Tab.</h3>

